## Background
W. Avy likes your analysis, but he wants more information about temperature trends before opening the surf shop. Specifically, he wants temperature data for the months of June and December in Oahu, in order to determine if the surf and ice cream shop business is sustainable year-round.

## Methodology
*Deliverable 1: Determine the Summary Statistics for June
*Deliverable 2: Determine the Summary Statistics for December
*Deliverable 3: A written report for the statistical analysis (README.md)

In [23]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from sqlalchemy import extract

#Import dataframe_image as dfi
import dataframe_image as dfi

In [8]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# What are the tables in the "hawaii.sqlite" Database
Base.classes.keys()

['measurement', 'station']

In [9]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [10]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [14]:
# 1. Import the sqlalchemy extract function.
#from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temps = session.query(Measurement).filter(extract('month', Measurement.date) == 6).all()
# june_temps

In [16]:
#  3. Convert the June temperatures to a list.
june_temps_list = [temp.tobs for temp in june_temps]
june_temps_list[:5]

[78.0, 76.0, 78.0, 76.0, 77.0]

In [18]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temps_list, columns=['June Temps'])
june_temps_df

      June Temps
0           78.0
1           76.0
2           78.0
3           76.0
4           77.0
...          ...
1695        79.0
1696        74.0
1697        74.0
1698        76.0
1699        75.0

[1700 rows x 1 columns]

In [25]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
#Use the describe() method
june_temp_summary_stats = june_temps_df.describe()


#Export as an image
dfi.export(june_temp_summary_stats, "Images/june_temp_summary_stats.png")

june_temp_summary_stats

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [ ]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [ ]:
# 7. Convert the December temperatures to a list.

In [ ]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [ ]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.